---
interface Props {
  href: string;
  title: string;
  path: string;
}

const { href, title, path } = Astro.props;
---

<a
  class=`bg-beige-700 dark:bg-beige-900 font-medium text-beige-100 dark:text-beige-200 px-2 rounded-lg flex justify-center items-center no-underline h-[40px] active:text-beige-900 dark:active:text-beige-600 group `
  href=`${href}`
  target="_blank"
  rel="nooperer"
  ><p class="my-4 group-hover:-rotate-12">{title}</p>
  <svg
    class="h-8 w-8 ml-2 group-hover:rotate-12"
    fill="currentColor"
    viewBox="0 0 16 16"
  >
    <path d=`${path}`></path>
  </svg></a
>
